<%- include('_userheader') %>

<% JSON.stringify(datahw) %>
<% JSON.stringify(session) %>

<h1> Add Device  </h1>
<div class="d-grid gap-2 col-6 mx-auto">

    <% if(datahw){ for(var i=0;i<datahw.length;i++){ %>
        <button style=" height:60px;width:400px;" class="btn btn-primary" type="button" onclick="window.location.href='/user/add/register/<%= datahw[i].hwid %>'"><%= datahw[i].hwname %></button>
    <%  } i=0} %>
    </div>
    
    
    <BR>
    <div class="text-center"> <a href="/user/home" class="btn btn-danger"> Back </a>    </div>
    

<%- include('_userfooter') %>